<mat-card>
  <div>
    <mat-card class="muestra-tiempo">
      Aqui visualizará el tiempo estimado de espera
    <div class="example-button-row">
        <button mat-raised-button color="warn" (click)="solicitarTurno()">Solicitar Turno</button>
    </div>
  </mat-card>
  <mat-card>
    <div>
      <button mat-raised-button color="primary" (click)="eliminarTurno()">Eliminar Turno</button>
      <p *ngIf="!codigoExitente">El turno asociado con el codigo: {{codigo}} ha sido eliminado satisfactoriamente.</p>
    </div>
<div>
  <mat-card class="muestra-tiempo">
   IMPRESION CUPON:
   <br>Codigo: {{nuevoCodigo}}
   <br>Fecha y Hora: {{horaLlegada | date :'short'}}
   <br>Tiempo estimado de espera: {{tiempoEspera}}
</mat-card>
</div>
<div>
  <mat-card>
    <mat-accordion>
    <mat-expansion-panel *ngFor="let turno of turnosMostrar, index as i">
        <mat-expansion-panel-header>
          <mat-panel-title>
          Turno: {{i}}
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            Tiempo de espera: {{turno.tiempoEspera}}
          </mat-panel-title>
          <mat-panel-description *ngIf="!turno.codigo">
            Disponible
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Tiempo de llegada: {{turno.tiempoLlegada | date:'shortTime'}}</p>
        <p *ngIf="turno.codigo">Codigo: {{turno.codigo}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  </mat-card>
</div>
